body{
  background-color: beige;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.quiz-container{
  background-color:rgb(0, 0, 0);
  color:white;
  padding-top:25px; 
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
}

.answer-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* z-index: -2; */
}

.question-section{
  /* z-index:2; */
  
  font-size: xx-large;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.answers{
  background-color: rgb(89, 89, 89);
  width: 50vw;
  height:100vh;
  font-size: xx-large;
  color:white;
  border: solid 2px;
}

.selected-answer{
  background-color: green;
}

#webgazerVideoContainer{
  z-index: 5 !important;
  border : solid 5px rgb(255, 255, 255);
  /* border-radius: 20%; */
}

/* ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
} */

.styled-table {
  background-color: rgb(84, 84, 84);
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tr:hover {background-color: rgb(32, 32, 32);}

.correct{
  background-color: rgb(159, 236, 159);
}
.incorrect{
  background-color: red;
}
.selected{
  background-color: aquamarine;
}
